<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.fstch.YZEduadmin.mapper.AdminMapper">
 	<select id="findAll" resultType="com.fstch.YZEduadmin.models.Admin">
 		select admin_name,admin_account,admin_password,admin_authority
 		 from `admin`
 	</select>
 	<select id="findById" resultType="com.fstch.YZEduadmin.models.Admin">
 		select * from `admin` where admin_account=#{admin_account}
 	</select>
 	<insert id="addAdmin" parameterType="com.fstch.YZEduadmin.models.Admin"
 						 useGeneratedKeys="true" keyProperty="admin_account">
 		insert into `admin`(admin_name,admin_account,admin_password,admin_authority,gmt_create,gmt_modified)
 					values(#{admin_name},#{admin_account},#{admin_password},#{admin_authority},now(),now())
 	</insert>
 	<delete id="delAdmin">
 		delete from `admin` where admin_account=#{admin_account}
 	</delete>
 	<update id="modify" parameterType="com.fstch.YZEduadmin.models.Admin">
 		update admin set 
 		admin_password = "e10adc3949ba59abbe56e057f20f883e",
 		gmt_modified = now()
 		 where admin_account=#{admin_account}
 	</update>
 </mapper>