<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.fstch.YZEduadmin.mapper.BannerMapper">
 	<select id="findAll" resultType="com.fstch.YZEduadmin.models.Banner">
 		select banner_id,school_id,banner_image,
		(case WHEN banner_type= 1 then '网页广告' WHEN banner_type= 2 then '课程广告' ELSE '资讯'   end)as 
		banner_type,banner_link from `banner` WHERE gmt_del = 0 and school_id=-1
 	</select>
 	<select id="findById" resultType="com.fstch.YZEduadmin.models.Banner">
 		select * from `banner` where banner_id=#{banner_id}
 	</select>
 	<insert id="addBanner" parameterType="com.fstch.YZEduadmin.models.Banner"
 						 useGeneratedKeys="true" keyProperty="banner_id">
 		insert into `banner`( school_id,banner_image,banner_type,banner_link,gmt_create,gmt_modified)
 					values(-1,#{banner_image},#{banner_type},#{banner_link},now(),now())
 	</insert>
 	<update id="deleteBanner" parameterType="int">
 		UPDATE `banner` set banner.gmt_del=1 where banner.banner_id = #{banner_id}
 	</update>
 	<update id="modify" parameterType="com.fstch.YZEduadmin.models.Banner">
 		update `banner` set 
 		banner_image=#{banner_image},
 		banner_type=#{banner_type},
 		banner_link=#{banner_link},
		gmt_modified=now() where banner.banner_id = #{banner_id}
 	</update>
 </mapper>