<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.fstch.YZEduadmin.mapper.BillMapper">
 	<select id="findAll" resultType="com.fstch.YZEduadmin.models.Bill">
 		select bill.bill_id,user.user_account,bill.bill_money,bill.bill_details from bill,user 
 		where bill.user_id=user.user_id and bill.gmt_del= 0
 	</select>
 	<update id="delBill" parameterType="com.fstch.YZEduadmin.models.Bill">
 		update `bill` set gmt_del = 1 where bill_id=#{bill_id}
 	</update>
 </mapper>