<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.fstch.YZEduadmin.mapper.EnterMapper">
 	<select id="findAll" resultType="com.fstch.YZEduadmin.models.Enter">
 		SELECT enter.enter_id,enter.school_name,(CASE WHEN school_type=1 THEN '中小学' 
			WHEN school_type=2 THEN '大学' WHEN school_type=3 THEN '教育机构' ELSE ' ' END)as school_type,
			enter.school_badge,enter.school_introduce,enter.school_city,
			enter.school_province,enter.school_license,enter.applicant_user_name,
			enter.applicant_user_id,enter.receiver_phone,enter.receiver_mail
			FROM enter WHERE enter.enter_state = 0
 	</select>
 	<select id="findEntered" resultType="com.fstch.YZEduadmin.models.Enter">
 		SELECT enter.enter_id,enter.school_name,(CASE WHEN school_type=1 THEN '中小学' 
			WHEN school_type=2 THEN '大学' WHEN school_type=3 THEN '教育机构' ELSE ' ' END)as school_type,
			enter.school_badge,enter.school_introduce,enter.school_city,
			enter.school_province,enter.school_license,enter.applicant_user_name,
			enter.applicant_user_id,enter.receiver_phone,enter.receiver_mail
			FROM enter WHERE enter.enter_state = 1
 	</select>
 	<select id="findById" resultType="com.fstch.YZEduadmin.models.Enter">
 		select * from enter where enter_id=#{enter_id}
 	</select>
 	<update id="addToEntered" parameterType="com.fstch.YZEduadmin.models.Enter">
 		update enter set enter.enter_state = 1 where enter_id=#{enter_id}
 	</update>
 	<update id="delEnter" parameterType="com.fstch.YZEduadmin.models.Enter">
 		update enter set enter.enter_state = 2 where enter_id=#{enter_id}
 	</update>
 	
 </mapper>