<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.fstch.YZEduadmin.mapper.SchoolMapper">
 	<select id="findAll" resultType="com.fstch.YZEduadmin.models.School">
 		select school_id,school_name,school_introduce,school_city,school_province,
 		(case when school_type = 1 then '中小学' when school_type = 2 then '大学' else '教育机构' end) as school_type
 		 from `school` where school_type != 0 AND school_type != 3
 	</select>
 	<select id="findOrg" resultType="com.fstch.YZEduadmin.models.School">
 		select school_id,school_name,school_introduce,school_city,school_province,
		(case when school_type = 1 then '中小学' when school_type = 2 then '大学' else '教育机构' end) as school_type
 		 from `school` where school_type = 3
 	</select>
 	<select id="findById" resultType="com.fstch.YZEduadmin.models.School">
 		select * from `school` where school_id=#{school_id}
 	</select>
 	<insert id="addSchool" parameterType="com.fstch.YZEduadmin.models.School"
 						 useGeneratedKeys="true" keyProperty="school_id">
 		insert into `school` (school_id,school_name,school_introduce,school_city,school_province,
 							  school_type,school_badge,school_background,gmt_create,gmt_modified)
 						values(#{school_id},#{school_name},#{school_introduce},#{school_city},#{school_province},
 							  #{school_type},#{school_badge},#{school_background},now(),now())
 	</insert>
 	<update id="delSchool" parameterType="com.fstch.YZEduadmin.models.School">
 		update `school` set school_type = 0 where school_id=#{school_id}
 	</update>
 	<update id="modify" parameterType="com.fstch.YZEduadmin.models.School">
 		update `school` set 
 					
 					school_name = #{school_name},
 					school_introduce = #{school_introduce},
 					school_city = #{school_city},
 					school_province = #{school_province},
 					school_type = #{school_type},
 					gmt_modified = now()
 					where school_id=#{school_id}
 	</update>
 </mapper>