<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.fstch.YZEduadmin.mapper.SwordMapper">
 	<select id="findAll" resultType="com.fstch.YZEduadmin.models.Sword">
 		SELECT sensitive_word.sensitive_word_id,sensitive_word.sensitive_word,school.school_name,school.school_code
		FROM sensitive_word , school
		WHERE sensitive_word.school_id = school.school_id and sensitive_word.gmt_del=0
 	</select>
 	<select id="findById" resultType="com.fstch.YZEduadmin.models.Sword">
 		select * from sensitive_word where sensitive_word_id=#{sensitive_word_id}
 	</select>
 	<insert id="addSword" parameterType="com.fstch.YZEduadmin.models.Sword"
 						 useGeneratedKeys="true" keyProperty="school_code">
 		insert into sensitive_word(school_id,sensitive_word,gmt_create,gmt_modified)
 		values(#{school_id},#{sensitive_word},now(),now())
 	</insert>
 	
 	<update id="delSword" parameterType="com.fstch.YZEduadmin.models.Sword"> 
 		update `sensitive_word` set sensitive_word.gmt_del=1 where sensitive_word_id=#{sensitive_word_id}
 	</update>
 	
 	<update id="modify" parameterType="com.fstch.YZEduadmin.models.Sword">
 		update `sensitive_word` set sensitive_word=#{sensitive_word} 
 		where sensitive_word_id=#{sensitive_word_id}
 	</update>
 	
 </mapper>