<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fstech.yzeduds.mapper.CommunicationMapper">
	<!-- 一节课的课程交流内容 -->
	<select id="findListByLessonId" resultType="com.fstech.yzeduds.model.CommunicationBean">
		select
		communication_id,lesson_id,communication_author,communication_content,
		comment_num,gmt_create as communication_time from communication where
		lesson_id = #{lesson_id} and communication_del = 0
		order by communication.gmt_modified desc
	</select>

	<!-- 一个课程交流的评论内容 -->
	<select id="findByCommunicationId" resultType="com.fstech.yzeduds.model.CommunicationCommentBean">
		select
		communication_comment_id,communication_id,communication_comment_user,communication_reply,
		communication_comment_content,gmt_create as communication_comment_time
		from communication_comment
		where communication_id =
		#{communication_id}
		and communication_comment_del = 0
		order by
		communication_comment.gmt_modified desc
	</select>

	<!-- 添加课程交流 -->
	<insert id="addCommunication">
		insert into
		communication(lesson_id,communication_author,communication_content,
		gmt_create,gmt_modified)
		values(#{lesson_id},#{user_id},#{communication_content},now(),now())
	</insert>

	<!-- 添加课程交流评论 -->
	<insert id="addComment">
		insert into communication_comment(
		communication_id,communication_comment_user,communication_comment_content,
		communication_reply,gmt_create,gmt_modified)
		values(#{communication_id},#{user_id},#{comment_content},#{reply},now(),now())
	</insert>

	<!-- 删除我发的课程交流 -->
	<update id="delCommunication">
		update communication set communication_del = 1 where
		communication_id =#{communication_id}
	</update>

	<!-- 删除我的评论 -->
	<update id="delComment">
		update communication_comment set
		communication_comment_del = 1
		where
		communication_comment_id=#{comment_id}
	</update>

	<!-- 是否我发的交流 -->
	<select id="isMyCommunication" resultType="Integer">
		select count(*) from
		communication where communication_id= #{communication_id} and
		communication_author =#{user_id}
	</select>

	<!-- 是否为我发的评论 -->
	<select id="isMyComment" resultType="Integer">
		select count(*) from
		communication_comment where communication_comment_user
		= #{user_id} and
		communication_comment_id=#{comment_id}
	</select>

	<!-- 交流评论人数自减 -->
	<update id="increCommentNum">
		update communication set comment_num = comment_num +
		1 where communication_id=#{communication_id}
	</update>
	<!-- 交流评论人数自增 -->
	<update id="decreCommentNum">
		update communication set comment_num = comment_num -
		1 where communication_id in (select communication_id
		from
		communication_comment where communication_comment_id =
		#{comment_id} )
		limit 1
	</update>

	<!-- 所有敏感词集合 -->
	<select id="sensitiveWordList" resultType="String">
		select distinct sensitive_word FROM sensitive_word;
	</select>
</mapper>