<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fstech.yzeduds.mapper.LessonMapper">

	<!-- 属于这门课程的章节列表 -->
	<select id="findListByCourseId" resultType="com.fstech.yzeduds.model.LessonBean">
		select
		lesson_id,course_id,lesson_title,lesson_video_url
		from lesson where
		course_id = #{courseId}
		order by gmt_create asc
	</select>

	<!-- 这节课的知识点列表 -->
	<select id="findListByLessonId" resultType="String">
		select
		knowledge_content from knowledge
		where
		lesson_id = #{lessonId}
		order by
		knowledge_rank desc;
	</select>

	<!-- 添加一节课 -->
	<insert id="addLesson" parameterType="com.fstech.yzeduds.model.LessonBean"
		keyProperty="lesson_id" useGeneratedKeys="true">
		insert into
		lesson(course_id,lesson_title,lesson_video_url,gmt_create,gmt_modified)
		values(#{course_id},#{lesson_title},#{lesson_video_url},now(),now())
	</insert>

	<!-- 添加知识点 -->
	<insert id="addKnowledge">
		insert into
		knowledge(knowledge_content,knowledge_rank,
		lesson_id,gmt_create,gmt_modified)
		values(#{content},3,#{lessonId},now(),now())
	</insert>
	
	<!-- 删除一节课 -->
	<delete id="delLesson">
		delete from lesson where lesson_id = #{lessonId} limit 1
	</delete>
	
	<!-- 查找一节课 -->
	<select id="findById" resultType="com.fstech.yzeduds.model.LessonBean">
	select
		lesson_id,course_id,lesson_title,lesson_video_url
		from lesson where
		lesson_id = #{lessonId}
	</select>

</mapper>