<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
</head>
<body>

<h1>Hello Spring Boot!!!</h1>
<p th:text="${hello}"></p>

<div>
    <ul>
        <li  th:each="admin:${admins}">
            <span th:text="${admin.admin_id}"></span>-
            <span th:text="${admin.admin_account}"></span>-
            <span th:text="${admin.admin_name}"></span>-
            <span th:text="${admin.register_time}"></span>
        </li>
    </ul>
</div>

</body>
</html>