<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" type="text/css" href="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui.admin/css/style.css" />
	<title>院校管理</title>
</head>

<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 院校管理 <span class="c-gray en">&gt;
		</span> 院校列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
		 title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		<button class="btn btn-primary radius" type="submit">
			<a style="color:#ffffff;" href="../school/addSchool">添加院校</a></button>
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="80">院校代码</th>
						<th width="80">院校名称</th>
						<th width="80" height="80">校徽</th>
						<th width="80">院校介绍</th>
						<th width="80">所在省份</th>
						<th width="80">所在城市</th>
						<th width="80">院校类型</th>
						<th width="80">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" th:each="school : ${schools}">
						<td><input type="checkbox" value="" name=""></td>
						<td th:text="${school.school_id}"></td>
						<td th:text="${school.school_name}"></td>
						<td><img th:src="${school.school_badge}" alt=""></td>
						<td th:text="${school.school_introduce}"></td>
						<td th:text="${school.school_province}">浙江</td>
						<td th:text="${school.school_city}">杭州</td>
						<td th:text="${types[school.school_type]}">普通大学</td>
						<td class="f-14 td-manage">
							<a th:href="@{../school/editSchool(school_id=${school.school_id})}" style="text-decoration:none" class="ml-5" title="修改"><i class="Hui-iconfont">&#xe6df;</i></a>
							<a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="删除">
								<i class="Hui-iconfont">&#xe6e2;</i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui.admin/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" th:inline="none">
		$('.table-sort').dataTable({
			"aaSorting": [[1, "desc"]],//默认第几个排序
			"bStateSave": true,//状态保存
			"pading": false,
		});
		/*删除*/
		function admin_del(id) {
			layer.confirm('确认要删除吗？', function (index) {
				layer.msg('已删除!', { icon: 1, time: 1000 });
				window.location.href="../admin/delAdmin?account="+id;
			});
		}
	</script>
</body>

</html>