<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" type="text/css" href="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui.admin/css/style.css" />
	<title>数据分析</title>
</head>

<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据分析 <span class="c-gray en">&gt;
		</span> 院校统计 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
		 title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		<div id="container" style="min-width:700px;height:400px"></div>
	</div>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/static/h-ui.admin/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/hcharts/Highcharts/5.0.6/js/highcharts.js"></script>
	<script type="text/javascript" src="https://cdn.fstechnology.cn/YZEduSchoolWeb/lib/hcharts/Highcharts/5.0.6/js/modules/exporting.js"></script>
	<script type="text/javascript">
		Date.prototype.Format = function (fmt) {
			var o = {
				"M+": this.getMonth() + 1, //月份 
				"d+": this.getDate(), //日 
				"H+": this.getHours(), //小时 
				"m+": this.getMinutes(), //分 
				"s+": this.getSeconds(), //秒 
				"q+": Math.floor((this.getMonth() + 3) / 3), //季度 
				"S": this.getMilliseconds() //毫秒 
			};
			if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
			for (var k in o)
				if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
			return fmt;
		}

		$(function () {

			var date1 = new Date(new Date() - 1000 * 60 * 60 * 24 * 1).Format("yyyy-MM-dd");
			var date2 = new Date(new Date() - 1000 * 60 * 60 * 24 * 2).Format("yyyy-MM-dd");
			var date3 = new Date(new Date() - 1000 * 60 * 60 * 24 * 3).Format("yyyy-MM-dd");
			var date4 = new Date(new Date() - 1000 * 60 * 60 * 24 * 4).Format("yyyy-MM-dd");
			var date5 = new Date(new Date() - 1000 * 60 * 60 * 24 * 5).Format("yyyy-MM-dd");
			var date6 = new Date(new Date() - 1000 * 60 * 60 * 24 * 6).Format("yyyy-MM-dd");
			var date7 = new Date(new Date() - 1000 * 60 * 60 * 24 * 7).Format("yyyy-MM-dd");

			Highcharts.chart('container', {
				title: {
					text: '院校数量分析',
					x: -20 //center
				},
				xAxis: {
					categories: [date7, date6, date5, date4, date3, date2, date1]
				},
				yAxis: {
					title: {
						text: '院校数量 (所)'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}]
				},
				tooltip: {
					valueSuffix: '所'
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: '高校数量',
					data: [7, 11, 12, 15, 31, 42, 45]
				}, {
					name: '培训机构数量',
					data: [42, 43, 43, 43, 45, 45, 46]
				}, {
					name: '中小学数量',
					data: [38, 38, 41, 41, 47, 47, 47]
				}]
			});
		});
	</script>
</body>

</html>